body {
    margin: 0;
    font-family: 'Montserrat';
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.menu a:hover {
    color: #007BFF;
}

.btn-container {
    display: flex;
    align-items: center;
}

.btn-login, .btn-cadastro {
    text-decoration: none;
    color: #007BFF;
    margin: 0 0.5rem;
    font-weight: 500;
    transition: color 0.3s;
}

.btn-login:hover, .btn-cadastro:hover {
    color: #0056b3;
}

.divider {
    height: 20px;
    width: 1px;
    background-color: #ccc;
    margin: 0 0.5rem;
}

main {
    text-align: center;
}

/* ----------------- Página de Login ----------------- */
.div-login{
    background-color: #f4f4f9;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    margin: 0;
}

/* Estilos da seção de login */
.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.library-title {
    font-size: 2rem;
    color: #2c3e50;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.2), 0px 0px 25px rgba(41, 128, 185, 0.6);
    margin-bottom: 20px;
}
h2 {
    font-size: 1.5rem;
    color: #34495e;
    margin-bottom: 10px;
}

p {
    color: #7f8c8d;
    margin-bottom: 20px;
}

/* Estilos do formulário */
.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    font-size: 0.9rem;
    color: #2c3e50;
    margin-bottom: 5px;
    text-align: left;
}

.login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 1rem;
    color: #34495e;
}

.login-form input:focus {
    border-color: #2980b9;
    outline: none;
}

/* Botão de login */
.btn-login {
    background-color: #2980b9;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #3498db;
}

/* Link de cadastro */
.btn-cadastro {
    color: #2980b9;
    text-decoration: none;
}

.btn-cadastro:hover {
    text-decoration: underline;
}

/* ----------------- CADASTRAR LIVROS ----------------- */

/* Container principal */
.container-cad-livros {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container do formulário */
.form-container {
    background-color: #fff;
    padding: 20px; /* Reduzi o padding */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Reduzi a largura máxima */
    text-align: center;
}

/* Título do formulário */
h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2c3e50;
}

/* Estilos do formulário */
.form-cad-livro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

/* Estilos dos campos de input e labels */
.form-cad-livro label {
    font-size: 1rem;
    color: #2c3e50;
}

.form-cad-livro input {
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 1rem;
    color: #34495e;
}

.form-cad-livro input:focus {
    border-color: #2980b9;
    outline: none;
}

/* Estilos do container dos botões */
.form-cad-livro .botao-container {
    display: flex;
    justify-content: space-between; /* Distribui os botões na mesma linha */
    gap: 10px; /* Espaçamento entre os botões */
}

/* Estilos dos botões */
.btn-cadastrar, .btn-cancelar, .btn-cadastrar-novo, .btn-inicio {
    background-color: #2980b9;
    color: #fff;
    border: none;
    padding: 10px 20px; /* Botões mais largos */
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 48%; /* Botões ocupando metade da largura do container */
}

/* Efeitos de hover nos botões */
.btn-cadastrar:hover, .btn-cancelar:hover, .btn-cadastrar-novo:hover, .btn-inicio:hover {
    background-color: #3498db;
}

.btn-cancelar {
    background-color: #e74c3c;
}

.btn-cancelar:hover {
    background-color: #c0392b;
}

/* Estilos do pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

.popup-content button {
    margin: 10px;
}