<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fonte do Saber</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <header>
        <nav class="navigation">
            <ul class="menu">
                <li><a href="/home">Home</a></li>
            </ul>
            <p>Bem-vindo(a), {{ current_user.nome }}!</p>
            <div class="btn-container">
                <a href="/logout" class="btn-login">Logout</a>
                <span class="divider"></span>
                <a href="/perfil_usuario" class="btn-cadastro">Perfil</a>
            </div>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block conteudo %}
        {% endblock %}
    </main>
</body>

</html>