{% extends 'base.html' %}
{% block conteudo %}
<div class="container-cad-livros">
    <div class="form-container">
        <h1>Cadastro de Livro</h1>
        <form action="/livro_cadastrado" class="form-cad-livro" method="POST">
            <label for="">Título</label>
            <input type="text" id="titulo" name="titulo" placeholder="Digite o título do livro" required>
    
            <label for="">Autor</label>
            <input type="text" id="autor" name="autor" placeholder="Digite o nome do autor" required>
    
            <label for="">Ano de Lançamento</label>
            <input type="number" id="ano" name="ano" placeholder="Digite o ano de lançamento" required>
    
            <label for="">ISBN</label>
            <input type="text" id="isbn" name="isbn" placeholder="Digite o ISBN do livro" required>

            <!-- Container para os botões -->
            <div class="botao-container">
                <button type="submit" class="btn-cadastrar">Cadastrar</button>
                <button type="button" class="btn-cancelar" onclick="window.location.href='/home'">Cancelar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
