{%extends 'base.html'%}
{% block conteudo %}
<div class="edit-profile-container">
    <h2>Editar Perfil</h2>
    <form action="/editar_perfil" method="POST" class="form-edit-profile">
        <!-- Nome -->
        <label for="nome" class="label-edit">Nome:</label>
        <input type="text" id="nome" name="nome" class="input-edit" placeholder="Digite seu nome completo" required>
        
        <!-- E-mail -->
        <label for="email" class="label-edit">E-mail:</label>
        <input type="email" id="email" name="email" class="input-edit" placeholder="Digite seu e-mail" required>
        
        <!-- CPF -->
        <label for="cpf" class="label-edit">CPF:</label>
        <input type="text" id="cpf" name="cpf" class="input-edit" placeholder="Digite seu CPF" required>
        
        <!-- Endereço -->
        <label for="endereco" class="label-edit">Endereço:</label>
        <input type="text" id="endereco" name="endereco" class="input-edit" placeholder="Digite seu endereço" required>
        
        <!-- Senha -->
        <label for="senha" class="label-edit">Senha:</label>
        <input type="password" id="senha" name="senha" class="input-edit" placeholder="Crie uma nova senha" required>
        
        <!-- Botão Atualizar -->
        <button type="submit" class="btn-update">Atualizar</button>
    </form>
</div>
{% endblock %}