{% extends 'base.html' %}
{% block conteudo %}
<div class="container-cad-livros">
    <div class="form-container">
        <h1>Editar Livro</h1>
        <form action="{{ url_for('editar_livro', id=livro.idlivro) }}" method="POST" class="form-cad-livro">
            <label for="titulo">Título</label>
            <input type="text" id="titulo" name="titulo" value="{{ livro.titulo }}" required>
    
            <label for="autor">Autor</label>
            <input type="text" id="autor" name="autor" value="{{ livro.autor }}" required>
    
            <label for="ano">Ano de Lançamento</label>
            <input type="number" id="ano" name="ano" value="{{ livro.ano_lancamento }}" required>
    
            <label for="isbn">ISBN</label>
            <input type="text" id="isbn" name="isbn" value="{{ livro.isbn }}" required>

            <!-- Container para os botões -->
            <div class="botao-container">
                <button type="submit" class="btn-cadastrar">Confirmar alteração</button>
                <button type="button" class="btn-cancelar" onclick="window.location.href='/home'">Cancelar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
