{%extends 'base-login.html'%}
{% block conteudo %}
<div class="div-login">
    <section class="login-container">
        <h1 class="library-title">FONTE DO SABER</h1>
        <h2>Bem-vindo(a) de volta!</h2>
        <p>Faça login para acessar o universo de conhecimento.</p>
        <form action="/login" method="POST" class="login-form">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>

            <label for="password">Senha</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" required>

            <button type="submit" class="btn-login" onclick="window.location.href='/home'">Entrar</button>
        </form>
        <p>Não tem uma conta? <a href="/registrar_usuario" class="btn-cadastro">Cadastre-se</a></p>
    </section>
</div>
{% endblock %}