{%extends 'base.html'%}
{% block conteudo %}
<div class="profile-container">
    <!-- Seção de cabeçalho do perfil -->
    <div class="profile-header">
        <h1>Nome do Usuário</h1>
        <p class="user-role">Membro desde: {{current_user.data_cad}} </p>
    </div>

    <!-- Informações do perfil -->
    <div class="profile-info">
        <h2>Informações Pessoais</h2>
        <p><strong>Nome completo:</strong> {{ current_user.nome }}</p>
        <p><strong>CPF:</strong> {{ current_user.cpf }}</p>
        <p><strong>Usuário:</strong> {{ current_user.nome }}</p>
        <p><strong>E-mail:</strong> {{ current_user.email }}</p>
        <p><strong>Endereço:</strong> {{ current_user.endereco }}</p>
    </div>

    <!-- Ações -->
    <div class="profile-actions">
        <button class="btn-action" onclick="window.location.href='/editar_perfil'">Editar Perfil</button>
        <button class="btn-action logout" onclick="window.location.href='/deletar_usuario'">Excluir Perfil</button>
    </div>
</div>
{% endblock %}