{%extends 'base.html'%}
{% block conteudo %}
<div class="profile-container">
    <!-- Seção de cabeçalho do perfil -->
    <div class="profile-header">
        <h1>Nome do Usuário</h1>
        <p class="user-role">Membro desde: Janeiro 2021</p>
    </div>

    <!-- Informações do perfil -->
    <div class="profile-info">
        <h2>Informações Pessoais</h2>
        <p><strong>Nome completo:</strong> João da Silva</p>
        <p><strong>CPF:</strong>123.456.789-00</p>
        <p><strong>Usuário:</strong> joaosilva</p>
        <p><strong>E-mail:</strong> joao.silva@email.com</p>
        <p><strong>Endereço:</strong>Rua dos bobos, Nº 0</p>
    </div>

    <!-- Ações -->
    <div class="profile-actions">
        <button class="btn-action" onclick="window.location.href='/editar_perfil'">Editar Perfil</button>
        <button class="btn-action logout" onclick="window.location.href='/home'">Excluir Perfil</button>
    </div>
</div>
{% endblock %}