{%extends 'base-login.html'%}
{% block conteudo %}
<!-- Inserir conteúdo aqui-->
<div class="container-sobre">
    <div class="titulo">
        <h1>Fonte do Saber</h1>
    </div>

    <section class="about-section">
        <h2>Sobre Nós</h2>
        <p>
            A <strong>Biblioteca Fonte do Saber</strong> é um marco cultural na cidade de Natal/RN, Brasil.
            Há 12 anos, estamos comprometidos em levar conhecimento, lazer e educação para a comunidade.
        </p>
        <p>
            Nossa missão é promover o acesso à leitura e ao aprendizado, fornecendo empréstimos gratuitos de livros para
            toda a população. Com um acervo diversificado, atendemos leitores de todas as idades e interesses.
        </p>
        <p>
            Visite-nos, participe de nossas atividades culturais e descubra o universo de possibilidades que só a
            leitura pode oferecer!
        </p>
</section>
{% endblock %}